.root {
  height: 112px;
  display: flex;
  gap: var(--gap);
  padding: var(--padding);
}

.sentence {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions {
  display: flex;
  align-items: center;
}
